.stats-card{
    background-color: white !important;
    box-shadow: -1px 2px 15px 12px #8080802b;
    border-radius: 15px !important;
}
.stats-container{
    width: 90%;
    margin: 30px auto;
}
.stats-container i{
    color: darkred;
    font-size: 30px;
}
.stats-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats-content h3{
    color: darkred;
    font-weight: bold;
}

.table-container{
    max-height: 500px !important;
    overflow: scroll;
}

/* width */
.table-container::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }
  
  /* Track */
  .table-container::-webkit-scrollbar-track {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer !important;
  }
   
  /* Handle */
  .table-container::-webkit-scrollbar-thumb {
    background: darkred; 
    border-radius: 5px;
    cursor: pointer !important;
  }
  
  /* Handle on hover */
  .table-container::-webkit-scrollbar-thumb:hover {
    background: darkred;
    cursor: pointer !important;
  }

  .cv-icon{
    color: darkred !important;
  }

  .main-form-container{
    margin: 0 auto;
    width: 80%;
    height: auto;
    background-color: white !important;
    padding: 25px;
    border: 1px solid grey !important;
  }

  .admin-label{
    color: darkred !important;
    font-weight: bold !important;
  }
  .admin-input{
    width: 100% !important;
    height: 45px !important;
    border: 3px solid #00000038 !important;
    text-align: left !important;
    color: black !important;
  }
  .admin-input:hover{
    border: 3px solid grey !important;
  }
  .admin-input:focus{
    border: 3px solid darkred !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .admin-textArea{
    width: 100% !important;
    border: 3px solid #00000038 !important;
    text-align: left !important;
    color: black !important;
  }
  .admin-textArea:hover{
    border: 3px solid grey !important;
  }
  .admin-textArea:focus{
    border: 3px solid darkred !important;
    box-shadow: none !important;
    outline: none !important;
  }

  .admin-block-btn{
    width: 100% !important;
    background-color: darkred !important;
    color: white !important;
    font-weight: bold !important;
    margin-top: 20px !important; 
  }